=============== 
Folders
===============
Temp/
Library/
ExportedObj/
obj/
deepness_Data/

=====================================
Files
=====================================
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj
*.GhostDoc.xml
*.pdb
StyleCop.Cache
